body{
    font-family: 'Bebas Neue', cursive;
}

.bg-yellow{
    background-color: #FFC017;
}

.border-bottom-dark{
    border-bottom: 1px solid #414141;
}

.border-top{
    border-top: 1px solid rgba(230, 230, 230, 1);

}
.border-dark{
    border-top: 1px solid rgba(230, 230, 230, 1);

}